header {
  display: flex;
  flex-direction: column;
  height: 520px;  
  width: 100%;
  align-items: center;
  background-color: #00BD9D;
  background-image: url("https://images.pexels.com/photos/7130535/pexels-photo-7130535.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  padding-top: 160px;
}


h2 {
  color: #FFFFFF;
  text-shadow:3px -3px #f72585;
  border: 1;
  font-size: 30px;
  margin-top: 5px;
  font-family: 'Source Sans Pro', sans-serif;
}